.main_content {
	/* centralize the content on large screens */
	width: min(100%, var(--breakpoint-lg));
	margin-left: auto;
	margin-right: auto;

	/* pad the content to not touch the window borders */
	padding: calc(var(--padding-unit) * 2) calc(var(--padding-unit) * 4);
}

@media screen and (width < 520px) {
	.main_content {
		padding: calc(var(--padding-unit) * 2) calc(var(--padding-unit) * 2);
	}
}

.content_not_found {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: calc(var(--spacing-unit) * 2);
}